#about-section {
	padding-bottom: 130px;
}

#contact-section {
	padding-bottom: 130px;
}

#form2 {
	padding-bottom: 130px
}

.shadow {
	background-color: #ffffff;
	box-shadow: 0 0 24px 0 rgba(192,192,192,0.4);
}